/* 전체 세로 방향 flex 컨테이너 */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

.logo img {
  height: 35px;
}
/* 헤더 밑 메인 컨테이너: 사이드바 + 컨텐츠 가로 flex */
.main-container {
  flex: 1;
  display: flex;
  overflow: hidden; /* 세로 스크롤은 content에서만 */
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  min-width: 34px;
  min-height: 34px;
  max-width: 34px;
  max-height: 34px;
  overflow: hidden;
  background-color: #ffffff;
}

.icon img {
  /* width: 100%;
  height: 100%; */
  width: 18px;
  height: 18px;
}

/* 왼쪽 사이드바 스타일 */
.header {
  width: 250px;
  background: linear-gradient(180deg, #eff5ff 17.87%, #dce6f9 100%);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.copyright {
  padding: 20px 22px 10px;
  color: #a1a1a1;
  font-size: 13px;
}

.copyright div:first-child {
  width: fit-content;
  margin: 10px 0;
  border-bottom: 1px solid #a1a1a1;
  padding: 5px 2px;
}

.copyright div {
  margin: 10px 0;
}

.header-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.logo {
  margin-left: -30px;
  padding: 50px 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  padding-left: 35px;
  display: flex;
  flex-direction: column;
  /* gap: 12px; */
}

/* 사이드바 링크 기본 스타일 */
.nav-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
  color: #2c3e50;
  font-size: 15px;
  font-weight: 400;
  padding-left: 4px;
  gap: 12px;
  padding: 14px 15px;
  border-radius: 15px 0 0 15px;
}

.copyright {
  justify-self: flex-end;
}

.nav-link span {
  width: 300px;
}

/* 선택된 메뉴에 스타일 적용 */
.nav-link.router-link-exact-active {
  color: #000000;
  background-color: #e1ecff;
  font-weight: 700;
}

/* 오른쪽 페이지 내용 스타일 */
.content {
  flex: 1;
  padding: 0 30px;
  overflow-y: auto;
  text-align: left;
}
