/* 📋 법안 테이블 스타일 */

.sub-title {
  font-weight: 700;
}

.sub-title .img {
  width: 18px;
}

.col-title {
  display: flex;
  align-items: center;
  width: calc(100% - 64px - 200px);
  cursor: pointer;
}

.col-title:hover {
  text-decoration: underline;
}

.col-status {
  display: flex;
  width: 200px;
  justify-content: center;
  align-items: center;
}

.table-body .col-status div {
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  height: 28px;
  width: 74px;
}

/* 더보기 버튼 */
.load-more {
  text-align: center;
  margin-top: 20px;
}

.load-more button {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}
