.law-detail {
  padding: 20px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.law-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
  padding: 30px;
  width: calc(100% - 300px - 50px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.process-status {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.process-step {
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
}

.process-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.process-name {
  font-size: 13px;
  margin-top: 70px;
  position: absolute;
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon {
  max-width: 32px;
  max-height: 32px;
  width: 100%;
  height: 100%;
  color: #ffffff;
  background-color: #efeff0;
  border-radius: 100%;
  border: 3px solid #ffffff;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.line.line-none {
  border: 0;
}

.line {
  width: 100%;
  height: 1px;
  border: 0;
  border-bottom: 2px;
  border-color: #5097f2;
  border-style: solid;
}

.process-step.pending .line,
.line-end {
  border-color: #a0a3b2;
}

.process-status-content {
  display: flex;
  flex-direction: row;
}

.law-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.side-blocks {
  max-width: 300px;
  min-width: 300px;
  width: 100%;
  margin-top: -70px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.process-step img {
  width: 24px;
  height: 24px;
}
.process-step.pending img {
  filter: invert(49%) sepia(8%) saturate(10%) hue-rotate(219deg) brightness(94%)
    contrast(95%);
}

.process-step.completed .icon {
  background-color: #ffffff;
  border: 3px solid #dcecff;
}

.content-wrapper {
  display: flex;
  gap: 30px;
}

.law-info-block {
  flex: 2;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
}

.law-info-table {
  width: 100%;
  border-collapse: collapse;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex-direction: row;
}

.table-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100px;
  padding: 0 10px;
  border: 0;
  border-left: 1.7px;
  border-style: solid;
  border-color: #d9d9d9;
}

.col-head {
  color: #878e95;
  font-size: 11.5px;
  font-weight: 450;
}

.col-data {
  font-size: 12.5px;
  font-weight: 500;
}

.proposal-content h2 {
  font-size: 19px;
  color: #353a3f;
  margin: 30px 0 15px 0;
}

.proposal-content h3 {
  margin-top: 15px;
  margin-bottom: 8px;
}

.proposal-content {
  font-size: 14px;
  line-height: 1.5;
  white-space: pre-line;
}

.more-link {
  margin: 20px auto 0;
  padding: 8px 18px;
  font-weight: 700;
  color: #045dcf;
  cursor: pointer;
  user-select: none;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f6fb;
  border-radius: 50px;
  font-size: 13px;
}

.more-link .img {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.related-keywords {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
}

.related-keywords h3 {
  margin: 0;
  font-weight: 600;
}

.keywords {
  display: flex;
  flex-wrap: wrap;
  padding: 12px 0 0;
  gap: 7px;
}

.keyword {
  background-color: #ffffff;
  color: #4a5056;
  padding: 5px 15px;
  border-radius: 12px;
  border: 1px solid #b3b3b3;
  font-size: 13px;
  font-weight: 550;
  cursor: pointer;
  user-select: none;
}

.party-contribution-block {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
}

.party-contribution-block h3 {
  margin: 0;
  font-weight: 600;
}

.party-list {
  display: flex;
  flex-direction: column;
  padding: 12px 0 0;
  gap: 20px;
}

.party-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.party-logo {
  width: 50px;
  height: 50px;
  /* border-radius: 5px; */
  border-radius: 50px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.party-logo img {
  width: 50px;
  object-fit: cover;
  border-radius: 6px;
}
